<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    ADD content to top of each page that shows their name and a logout button if they are logged in
    OR links to SIGN IN or SIGN UP if they are not logged in 

  <body>
    <%= yield %>
  </body>
</html>
